/* TODO : Implement Style */
.tab {
  list-style: none;
  margin: .5rem 0;
}
.tab {
  border-bottom: .1rem solid #c5c5c5;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.tab .tab-item {
  margin-bottom: -.1rem;
  margin-top: 0;
}
.tab .tab-item a {
  border-bottom: .2rem solid transparent;
  color: #333;
  display: block;
  padding: .5rem 1.5rem;
  text-decoration: none;
}
.tab .tab-item a:hover,
.tab .tab-item a:focus {
  border-bottom-color: #5764c6;
  color: #5764c6;
}
.tab .tab-item.active a {
  border-bottom-color: #3b49af;
  color: #3b49af;
}
.tab.tab-block .tab-item {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: center;
}
.tab.tab-block .tab-item .badge[data-badge]::after {
  position: absolute;
  right: 1.5rem;
  top: .6rem;
  -webkit-transform: translate(50%, -.8rem);
  transform: translate(50%, -.8rem);
}
