.card {
    border-color: #0000FF;
    padding-bottom: .5em;
}

.card .card-title {
    background-color: rgba(0, 106, 255, .5);
    padding-bottom: 3px;
    border-radius: .3rem;
}

.card .card-meta {
    background-color: rgba(0, 106, 255, .9);
    border-radius: .7rem;
}

.card .card-body {
    padding-bottom : .5em;
}

.col-2_5 {
    width: 20.83333333333333%;
}